.content
	.user

		.clear

		.avatar

			%img= image_tag @user.avatar.url

		.user_info

			%h1= @user.email
			%p= "User ##{@user.id}"

		.clear

		.list

			%h2 Recipes from chef:

			= render @user.recipes

			- if @user.id == current_user.id

				= render 'devise/registrations/edit'
				.clear
				%br
				= render 'form'